

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;   
}

p, label {
    font-family: 'Open Sans', sans-serif;
}
body{
    overflow-x: hidden;
    background-color: #171A21 ;
}

#char{
    width: 2.5%;
    
}
.st-text-15{
    font-size: 15px;
}

ion-icon{
   font-size: 45px;
   color: #C5C3C0;
   border: none;
}
.dropdown-menu{
    width: 100%;
    background-color:#171A21 ;
}

#logo-nav{
    width: 15%;
    position: absolute;
    top: 10px;
}

.st-page-wrapper {
    width: 100%;
    height: 100vh;
    display: table;
   
}

.st-home{
    background-image: url(../images/bf.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.st-home-list{

    display: table; 

}

.bg-black-trans{
    background-color: rgba(0, 0, 0, 0.561);
}

.st-box-home{
    height: 100vh; 
}

.st-home-items img{
    width: 323px;
    height: 166px;
}
.st-text-center{
    text-align: center;
}
.st-footer{
    padding-top: 490px;
}

#st-arrow-down {
    width: 90px;
    height: 55px;
    position: relative;
    animation: arrowDown 1.5s linear 1.5s infinite;
}

.st-full-height {
    height: 100vh;
    position: relative;
}

.st-game-logo{
    width: 100%;
}

.st-carousel{
    padding-top: 20vh;
}

.st-games-item-info{
    margin-top: -10vh;
}

.st-carousel-indicator{
    width: 50px;
    height: 30px;
}

.st-mg-left-200{
    margin-left: 200px;
}

.st-mg-right-200{
    margin-right: 400px;
}

.st-nav{
    margin-left: 460px;
    font-size: 18px;
    margin-top: 20px;
    text-align: center;
    
}
.st-game-carousel-info{
    position: absolute;
    left: 135px;
    width: 250px;
    top: 20px;
    background-color: rgba(0, 0, 0, 0.471);
}

.img-full-heigth{
    width: 100%;
   
}

.st-game-logo{
    width: 100%;
}
.carousel-inner{
    height: 500px;
    width: 1000px;
    top: 50px;
}